$gray: #acacac;
$gray-opacity: rgba(230, 230, 230, 0.7);
$light-gray: #eeeeee;
$dark-gray: #222222;

.wrapper960 {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.user-stage {
    width: 960px;
    height: 600px;
    position: absolute;
    top: -540px;
    padding-top: 40px;
    margin-bottom: 40px;
    background: $light-gray;
    border: 2px solid $dark-gray;
    box-shadow: 1px 1px 3px $gray;
    border-radius: 6px;
    #add-user {

        position: absolute;
        bottom: 5px;
        left: 5px;

    }
    #display-stage {

        position: absolute;
        bottom: 5px;
        right: 5px;

    }
}



.modal-body {
    input{
        margin: 5px;
    }
}
