@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

$bkgd: rgb(221,221,221);
$gray: #acacac;
$gray-opacity: rgba(230, 230, 230, 0.7);
$light-gray: #eeeeee;
$dark-gray: rgb(180, 180, 180);
$white-opacity: rgba(254, 255, 255, 0.9);
$muted-text: #acb9c0;
$primary-blue: #0086cb;


* {
    font-family: 'Open Sans', sans-serif;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.menu-button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    // vertical-align: bottom;
    cursor: pointer;
    border: 1px solid transparent;
    // border-radius: 4px;
    white-space: nowrap;
    background: none;
    font-size: 20px;
    span {
        vertical-align: bottom;
        font-size: 20px;
    }
    &:hover{
        background: $primary-blue;
        color: #fff;
    }
    &:focus {
        border: none;
        outline: none;
    }


}

.active {
    background: $primary-blue;
    color: #fff;
}

.menu {
  position: relative;
  display: inline-block;
  width: 100%;
  .left-menu {
    width: 100%;
    height: 80px;
    position: relative;
    background: #fff;
    // border: 1px solid $dark-gray;
    // @include border-radius(0 0 6px 6px);
    z-index: 2000;
    box-shadow: 1px 1px 1px $dark-gray;
  }
  h1 {
    display: inline-block;
    height: auto;
    width: auto;
    margin: 0;
    font-size: 45px;
    margin-top: 15px;
    margin-left: 15px;
    color: #000;
  }
  #sort-by {
    display: inline-block;
  }

}



.modal-body {
    input{
        margin: 5px;
    }
}
.modal {
    z-index: 9999999;
}


h1 {
    margin: 5px 0 0 10px;
    color: $gray;
    font-size: 30px;
    text-shadow: 1px 1px 1px white;
    font-family: 'Open Sans', sans-serif;

}




.donut-stage {
    height: auto;
    width: 100%;
    min-height: 3000px;
    margin: 0;
    position: relative;
    right: 0;
    padding: 50px;
    background: $bkgd;
    p {
        text-shadow: 1px 1px 1px black;
    }
    svg {
        display: block;
        margin: 0 auto;

    }
    h3  {
        text-align: center;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 999999;
        margin: 0;;

    }
    .isotope-item {
        width: auto;
        height: auto;
        margin-right: 25px;
        margin-top: 25px;
    }
    div {
        width: 460px;
        height: 220px;
        position: relative;
        display: inline-block;
        background: white;


        canvas {
            position: absolute;
            bottom: 0;
        }
    }
}

.legend {
    height: auto;
    width: auto;
    position: absolute;
    padding: 3px;
    overflow: scroll;
    // border: 1px solid $light-gray;
    border-radius: 4px;
    max-height: 250px;
    text-align: right;
}

.owner-title {
    color: $primary-blue;
    margin-left: 40px;
}

#donut-chart    {
    position: absolute;
    bottom: 50px;
    width: 200px;
    height: 200px;
    left: 10px;
    background: none;
}
#inner-donut-legend {
    position: absolute;
    background: $white-opacity;
    border-radius: 10000px;
    width: 104px;
    left: 3px;
    height: 104px;
    bottom: 3px;
    box-sizing: border-box;
    padding-top: 20px;
    text-align: center;
    color: $muted-text;
    font-size: 12px;
    span {
        font-size: 25px;
        color: $dark-gray;
    }
}

#bottom-ticker {
    width: 100%;
    height: 35px;
    background: white;
    position: absolute;
    bottom: 0;
    text-align: justify;
    span {
        color: $primary-blue;
        margin: 1%;
    }
    .muted-text{
        margin: 0;
        color: $muted-text;

    }
}

#gravatar-icon {
    position: absolute;
    left: -15px;
    top: -15px;
    margin: 0;
    width: auto;
    height: auto;
    background: none;
    img {
        border: 2px solid #fff;
        border-radius: 9999px;
        margin: 0;
        width: 50px;
        height: 50px;
    }
}

.muted-text{
    margin-left: 40px;
    color: $muted-text;
}

.ss-expand {
    position: absolute;
    right: 4px;
    top: 8px;
    font-size: 15px;
    cursor: pointer;
    color: $muted-text;
    &:hover{
        color: #000;
    }
}

.add-user-button {
    position: absolute;
    right: 1px;
    top: 20px;
    .ss-plus {
        font-size: 20px;

    }
    .ss-users {
        font-size: 30px;
    }
}
