@import "compass/css3";

$gray: #acacac;
$gray-opacity: rgba(230, 230, 230, 0.7);
$light-gray: #eeeeee;
$dark-gray: rgb(163, 160, 160);

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
}



.menu {
  position: relative;

  .left-menu {
    width: 270px;
    height: 45px;
    position: relative;
    background: $light-gray;
    border: 1px solid $dark-gray;
    @include border-radius(0 0 6px 6px);
    z-index: 2000;

    .btn-group{
      position: absolute;
      bottom: 5px;
      left: 170px;
      background: $light-gray;
    }
  }

  .right-menu {
    position: absolute;
    top: 0;
    right: 20px;

    h3  {
      display: inline-block;
      font-size: 18px;
    }
  }
}



.modal-body {
    input{
        margin: 5px;
    }
}



h1 {
    margin: 5px 0 0 10px;
    color: $gray;
    font-size: 30px;
    text-shadow: 1px 1px 1px white;
}


// 
.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 25px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#d3Donutstage {
    height: auto;
    width: 100%;
    margin: 0;
    position: relative;
    right: 0;
    top: 50px;
    p {
        text-shadow: 1px 1px 1px black;
    }
    svg {
        display: block;
        margin: 0 auto;

    }
    h3  {
        text-align: center;
    }
    div {

        display: inline-block;
        border: 1px solid $light-gray;
        border-radius: 8px;
        background: linear-gradient(bottom, $light-gray, lighten($light-gray, 10%));
        margin-right: 5px;
        margin-top: 5px;
        box-shadow: inset 2px -2px 2px #acacac;
        .legend {
            background: none;
            box-shadow: none;
        }
    }
}

.legend {
    height: auto;
    width: auto;
    position: absolute;
    margin-left: 300px;
    padding: 3px;
    overflow: scroll;
    border: 1px solid $light-gray;
    border-radius: 4px;
    max-height: 250px;
}


