$gray: #acacac;
$gray-opacity: rgba(230, 230, 230, 0.7);
$light-gray: #eeeeee;
$dark-gray: #222222;

.wrapper960 {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.user-stage {
    width: 960px;
    height: 600px;
    position: absolute;
    top: -540px;
    padding-top: 40px;
    margin-bottom: 40px;
    background: $light-gray;
    border: 2px solid $dark-gray;
    box-shadow: 1px 1px 3px $gray;
    border-radius: 6px;
    z-index: 2000;
    overflow: scroll;

    #stage-buttons{

        position: absolute;
        bottom: 5px;
        left: 170px;
        background: $light-gray;
        z-index: 4000;

    }
    #display-stage {

        position: absolute;
        bottom: 5px;
        right: 5px;

    }
}



.modal-body {
    input{
        margin: 5px;
    }
}


.logo {
    position: absolute;
    bottom: -5px;
    left: 5px;
    h1{
        color: $gray;
        font-size: 30px;
        text-shadow: 1px 1px 1px white;
    }
}

.user-info-box {
    position: relative;
    display: inline-block;
    width: 200px;
    height: auto;
    // min-height:410px;
    border: 3px solid $gray;
    background: $gray-opacity;
    border-radius: 10px;
    padding: 5px;
    margin-left: 20px;

    img {
        width:75px;
        height: 75px;
        background: $light-gray;
        border-radius: 10px;

    }
}
.user-info-table {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 175px;
    // min-height:410px;
    border: 3px solid $gray;
    background: $gray-opacity;
    // border-radius: 10px;
    padding: 5px;
    // margin-left: 20px;
    z-index: 3000;

    img {
        width:75px;
        height: 75px;
        background: $light-gray;
        border-radius: 10px;

    }
    h1,h2,h3,h4 {
        display: inline-block;
        width: auto;
    }
}
.close-box {
    position: absolute;
    right: 5px;
    top: 5px;
}

#full-view-button {
    position: absolute;
    right: 10px;
    top: 50px;
}

.user-info-profile {
    margin-top: 200px;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    // min-height:410px;
    border: 3px solid $gray;
    background: $gray-opacity;
    border-radius: 10px;
    padding: 20px;
    // margin-left: 20px;
    z-index: 1000;

    img {
        width:150px;
        height: 150px;
        background: $light-gray;
        border-radius: 10px;

    }
   }

.user-profile-info {
    display: inline-block;
    vertical-align: top;
    
}