$gray: #acacac;
$gray-opacity: rgba(230, 230, 230, 0.7);
$light-gray: #eeeeee;
$dark-gray: #222222;

.wrapper960 {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.user-stage {
    width: 960px;
    height: 600px;
    position: absolute;
    top: -540px;
    padding-top: 40px;
    margin-bottom: 40px;
    background: $light-gray;
    border: 2px solid $dark-gray;
    box-shadow: 1px 1px 3px $gray;
    border-radius: 6px;
    #add-users {

        position: absolute;
        bottom: 5px;
        left: 170px;

    }
    #add-repo {

        position: absolute;
        bottom: 0px;
        left: 0px;

    }
    #display-stage {

        position: absolute;
        bottom: 5px;
        right: 5px;

    }
}



.modal-body {
    input{
        margin: 5px;
    }
}


.logo {
    position: absolute;
    bottom: -5px;
    left: 5px;
    h1{
        color: $gray;
        font-size: 30px;
        text-shadow: 1px 1px 1px white;
    }
}

.user-info-box {
    position: relative;
    display: inline-block;
    width: 200px;
    height: auto;
    // min-height:410px;
    border: 3px solid $gray;
    background: $gray-opacity;
    border-radius: 10px;
    padding: 5px;
    margin-left: 20px;

    img {
        width:75px;
        height: 75px;
        background: $light-gray;
        border-radius: 10px;

    }
}
.close-box {
    position: absolute;
    right: 5px;
    top: 5px;
}