$gray: #acacac;
$gray-opacity: rgba(230, 230, 230, 0.7);
$light-gray: #eeeeee;
$dark-gray: #222222;

.modal-body {
	input{
		margin: 5px;
	}
}
.utility-panel {
	position: absolute;
	left: -20px;
	top: 100px;
	width: 200px;
	height: 350px;
	border: 3px solid $gray;
	background: $gray-opacity;
	border-radius: 10px;
	z-index: 2000;
	a {
		position: relative;
		display: inline-block;
		margin: 10px 35px;
	}
	li {
		list-style-type: disc;
		margin: 5px 15px;
	}
	h4 {
		margin: 5px 35px;
	}
}
.display-toolbar {
	position: absolute;
	top: -10px;
	left: 300px;
	width: auto;
	padding: 10px;
	height: 60px;
	border: 3px solid $gray;
	background: $gray-opacity;
	border-radius: 10px;
	z-index: 2001;
}
.logo {
	position: absolute;
	top: -15px;
	left: 5px;
	h1{
		color: $gray;
		font-size: 45px;
	}
}

.stage-wrapper {
	width: 100%;
	margin: 0 auto;
	height: 1000px;
	position: relative;
	padding: 50px;
	overflow: hidden;
	z-index: 1000;
}
.user-info-box {
	position: relative;
	display: inline-block;
	width: 200px;
	height: auto;
	// min-height:410px;
	border: 3px solid $gray;
	background: $gray-opacity;
	border-radius: 10px;
	padding: 5px;
	margin-left: 20px;

	img {
		width:75px;
		height: 75px;
		background: $light-gray;
		border-radius: 10px;

	}
}
.close-box {
	position: absolute;
	right: 5px;
	top: 5px;
}
.user-stage {
	width: auto;
	height: auto;
	min-height: 350px;
	min-width: 2000px;
	position: absolute;
	right: -330px;
	top: 80px;
	border: 3px solid $gray;
	background: $gray-opacity;
	border-radius: 10px;
	padding: 5px;

	.btn {
		height: 310px;
		margin-top: 10px;
		border: none;
		background:none;
		position: relative;
		top: 0px;
		vertical-align: top;
		&:hover {
			background: $gray;
			.glyphicon {
				color: $dark-gray;
			}
		}
		.glyphicon {
			color: $gray;
		}

	}
}