<div class="fullscreen-container">
    <div class="fullscreen" id="fullscreen-repo-<%= repo.id %>">
        <span class="ss-contract" id="exit-fullscreen"></span>

        <div id="repo-heading">
            <img src="<%= repo.get('owner').avatar_url %>">

            <h3>
                <span class="title">
                    <%= repo.get('name') %>
                </span>
                <br>
                <span class="owner">
                    <%= repo.get('owner').login %>
                </span>

            </h3>
        </div>

        <br>

        <h6><span class="muted-text">Top Contributer: </span><%= repo.get('gitHUDMeta').tickerData.topCommiter.allTime.user %></h6>
        <h3>misc data:</h3>
            <% _.each(repo.get('gitHUDMeta').tickerData.allCommiters.allTime, function(x){ %>
                <span><%=  x.user %>, <%= x.commits  %></span>
            <% }) %>


    <canvas id='donut-chart-<%= repo.id %>' class="fullscreen-donut" width='310' height='310'></canvas>
    <canvas id='line-chart-<%= repo.id %>' width='460' height='180'></canvas>
    </div>
</div>
