<div class="fullscreen-container">
  <div class="fullscreen" id="fullscreen-repo-<%= repo.id %>">
      <span class="ss-contract" id="exit-fullscreen"></span>
    <div class="slideshow-controls">
      <span class="ss-skipback" id="previousRepo" data-slideshow="previous-repo"></span>
      <span class="ss-rewind" id="previousSlide" data-slideshow="previous"></span>
      <span class="ss-play" id="startSlideshow" data-slideshow="play"></span>
      <span class="ss-pause" id="startSlideshow" data-slideshow="stop"></span>
      <span class="ss-fastforward" id="nextSlide" data-slideshow="next"></span>
      <span class="ss-skipforward" id="nextRepo" data-slideshow="next-repo"></span>
      <input id="switch-repos" type="checkbox" name="checkbox" value="value" checked>
      <span>Switch Repos</span>

    </div>
    <div class="legend-destination"></div>
    <div id="repo-heading">
      <img src="<%= repo.get('owner').avatar_url %>" style="border: 2px solid <%= repo.get('userColor') %>;">

      <h3>
        <span class="title">
          <%= repo.get('name') %>
        </span>
        <br>
        <span class="owner" style="color: <%= repo.get('userColor') %>;">
          <%= repo.get('owner').login %>
        </span>

      </h3>
    </div>

    <br>


      <div class="donut-top-five-wrapper">
        <div class="donut-top-five">

        <% _.each(repo.get('gitHUDMeta').contributors, function(contributor, i) { %>

            <span class="darkened-text"><%= repo.get('gitHUDMeta').commits[i] %>&nbsp;COMMITS</span>
          <span style="color: <%= contributor.color %>;">
            <span class="top-five-user"><%= contributor.username %></span>
            <span class="ss-piechart"></span>
          </span>
          <br>
        <% }) %>

        </div>
      </div>


  <canvas id='donut-chart-<%= repo.id %>' class="fullscreen-donut" width='<%= GitHUD.utilities.responsive.ipadDonut("ipadDonutChart") %>' height='<%= GitHUD.utilities.responsive.ipadDonut("ipadDonutChart") %>'></canvas>
  <span class="linechart-destination"></span>
  <div class="fullscreen-ticker ticker-text">

  </div>
  </div>
</div>
