<button type="button" class="btn btn-default btn-mg" id="display-table">Table</button>
<button type="button" class="btn btn-default btn-mg" id="display-thumbs">Thumbs</button>
<div class="subwindow-buttons">
  <div class="logo"><h1>GitHUD</h1></div>
  <div id="stage-buttons">
      <div class="btn-group" id="add-users">
        <button type="button" class="btn btn-primary" data-toggle="modal" href="#myModal1"><span class="glyphicon glyphicon-plus"></span> Users</button>
        
      </div>
      
  </div>
  <!--//<button type="button" class="btn btn-default btn-mg" id="display-stage">
      //<span class="glyphicon glyphicon-chevron-down"></span>
  // </button>-->
</div>