<div class="left-menu">
  <h1>GitHUD</h1>

  <div id="sort-by">

    <button id="sort-commits" class="menu-button"><span class="ss-loading"></span>&nbsp;Commits</button>
    <button id="sort-contributors" class="menu-button"><span class="ss-usergroup"></span>&nbsp;Contributors</button>
    <button id="sort-additions" class="menu-button"><span class="ss-plus"></span>&nbsp;Additions</button>
    <button id="sort-deletions" class="menu-button"><span class="ss-delete"></span>&nbsp;Deletions</button>
    <button id="sort-size" class="menu-button"><span class="ss-layergroup"></span>&nbsp;Size</button>

    <div class="btn-group">
  <button type="button" class="menu-button dropdown-toggle" data-toggle="dropdown">
    Filter <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#" id="filter-by" data-filter="*">All</a></li>
    <li><a href="#" id="filter-by" data-filter=".multi-contrib">Multiple Commiters</a></li>

  </ul>
</div>

      <div class="add-user-button">
        <button class="menu-button" data-toggle="modal" href="#addusers">
                <span class="ss-plus"></span>
                <span class="ss-users"></span>

            </button>
      </di&nbsp;v>
    </div>
    <a class="login" href="https://github.com/login/oauth/authorize?client_id=<%= ENV.gitHubClientId %>">Log In</a>
    <a class="logout" href="/">Log Out</a>
</div>
