<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New User</h4>
      </div>
      <div class="modal-body">
          <button type="button" class="btn btn-primary" id="add-more-user-inputs">Add More Users...</button>
        <input type="text" class="form-control" placeholder="Github Username" value="jhendley25">  
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="submit-user-request" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div> 