<div class="marquee">
  Top Commiter (all-time):
  <span class="ticker-user">
    <%= repo.get('gitHUDMeta').tickerData.topCommiter.allTime.user %>, <%= repo.get('gitHUDMeta').tickerData.topCommiter.allTime.commits %>
  </span>
  &nbsp;&nbsp;&nbsp;&nbsp;
  Top Commiter (weekly):
  <span class="ticker-user">
    <%= repo.get('gitHUDMeta').tickerData.topCommiter.weekly.user %>, <%= repo.get('gitHUDMeta').tickerData.topCommiter.weekly.commits %>
  </span>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br>
  Recent Activity:
  <span class="ticker-user"><%= repo.get('gitHUDMeta').latestCommit.author.login %></span>
  &nbsp;commited&nbsp;
  <span class="ticker-additions ss-plus">
    <%= repo.get('gitHUDMeta').latestCommit.stats.additions %>
  </span>
  &nbsp;and&nbsp;
  <span class="ticker-deletions ss-hyphen">
    <%= repo.get('gitHUDMeta').latestCommit.stats.deletions %>
  </span>
  &nbsp;to&nbsp;
  <span class="ticker-reponame"><%= repo.get("name") %></span>
  &nbsp;-m&nbsp;
  <span class="commit-message">"<%= repo.get('gitHUDMeta').latestCommit.commitMessage  %>"</span>
</div>
